.App {
  text-align: center;
}
.fashion  {
  position: relative;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  overflow: hidden;
}
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.text-overlay {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Perfect centering */
  color: #3D405B; /* Update text color */
  font-size: 4rem; /* Increase text size */
  font-family: 'Jua', sans-serif; /* Apply the Jua font */
  text-align: center; /* Center text alignment */
}


