body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.profile-container {
  width: 100%;
  background-color: #F4F1DE;
  padding: 20px;
}

.goback {
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.profile-header {
  display: flex;
  flex-direction: row;
  /* Arrange items in a row */
  align-items: center;
  /* Center items vertically */
  margin-bottom: 20px;
  gap: 7px;
  /* Space between the elements */
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  /* Add space between the picture and the name */
}

.profile-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* Arrange items in a column */
  align-items: center;
  /* Center items horizontally */
}

.profile-name {
  margin: 0;
  font-size: 900px;
  /* Even bigger font size */
  background-color: #81B29A;
  font-family: 'Jua', sans-serif;
}

.profile-description {
  font-size: 40px;
  font-weight: bold;
  color: #fefefe;
  /* Updated text color */
  background-color: #afc8bc;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  width: 40%;
  font-family: 'Indie Flower', cursive;

}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.products-section {
  margin-top: 30px;

}

.products-section h1 {
  margin-bottom: px;
  text-align: center;
  background-color: #F2CC8F;
  font-family: 'Indie Flower', cursive;
  height: 50px;
  color: #3D4058;
  height: 55px;

}

.products-columns {
  display: flex;
  justify-content: space-between;
  /* Split into two columns */
}

.column {
  width: 48%;
  /* Adjust width to fit two columns */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  margin-bottom: 30px;
  border: 2px solid #F2CC8F;
  /* Add border color */
  padding: 10px;
  /* Add padding to separate content from the border */
  flex-grow: 1;
  /* Ensure equal height for alignment */
  border-radius: 5%;
  background-color: #F2CC8F;
}

.category-title {
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Indie Flower', cursive;
  width: 100%;
  color: #E07A58;
  font-weight: bold;

  /* Ensure full width for alignment */
}

.products-grid {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  /* Ensure full width for alignment */
}

.product-placeholder {
  min-width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}

.product-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.25rem;
}